# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Database
db.sqlite3

# Static
staticfiles/

# Media
media/

# VS Code
.vscode/

# Environment
.env

# macOS
.DS_Store

# Windows
Thumbs.db