{% extends "base.html" %}

{% block title %}
درباره ما
{% endblock title %}

{% block content %}
<section class="h-screen">
    <div class="flex items-center justify-center max-w-7xl h-full mx-auto">
        <h1 class="basis-[50%] text-center text-6xl font-bold text-(--color-primary)">درباره ما</h1>
        <p class="basis-[50%] text-center text-(--color-text-secondary)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quae a accusantium tempore. Consequatur iste explicabo error, accusamus eos inventore debitis porro modi, obcaecati voluptas assumenda nobis laudantium veniam dolore.</p>
    </div>
</section>
{% endblock content %}