{% extends "base.html" %}

{% block title %}
تماس یا ما
{% endblock title %}

{% block content %}
<section class="h-screen">
    <div class="flex items-center justify-center max-w-7xl h-full mx-auto">
        <h1 class="basis-[50%] text-center text-6xl font-bold text-(--color-primary)">تماس با ما</h1>
        <p class="basis-[50%] text-center text-(--color-text-secondary)">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam laboriosam id laborum totam, quam quas mollitia alias veritatis, vero quibusdam eius a perferendis repellendus sit explicabo cum in hic eos.</p>
    </div>
</section>
{% endblock content %}