{% extends "base.html" %} 

{% block content %}
<section class="h-screen">
  <div class="flex items-center justify-center max-w-7xl h-full mx-auto">
    <h1 class="basis-[50%] text-center text-6xl font-bold text-(--color-primary)">
      به آرتی‌گیم خوش آمدید
    </h1>
    <p class="basis-[50%] text-center text-(--color-text-secondary)">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, aut
      minima illum iusto deleniti hic? Voluptatibus nostrum, excepturi
      voluptates, enim minus soluta quia distinctio sapiente atque dicta iure
      quasi culpa!
    </p>
  </div>
</section>

{% endblock %}
